<header>
  <img src="/assets/icons/ge-logo.svg" alt="godin emprendedor logo" class="icon">
  <img src="/assets/icons/open-white.svg" alt="open-menu" class="icon menu-btn" id="menu-btn">

  <nav id="nav">
    <img src="/assets/icons/close-white.svg" alt="close" class="icon close-btn" id="close-btn">
    <ul>
      <li class="active"><a href="/">Inicio</a></li>
      <li><a href="#">Cursos</a></li>
      <li><a href="#">Servicios</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">Contacto</a></li>
      <li><a href="/about">Sobre mi</a></li>
    </ul>
  </nav>
</header>
