<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <script src="https://kit.fontawesome.com/59bf14eb7d.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="black-bg">
      {% include nav.html %}
    </div>

    <div class="">
      {{ content}}
    </div>

    <div class="black-bg">
      {% include footer.html %}
    </div>
    <script src="/assets/js/main.js" charset="utf-8"></script>
  </body>
</html>
